.search-result-para {
  color: #ffffff;
}
.no-search-found-container {
  height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}
.no-results-image {
  width: 30%;
}
